.sidebar_nav {
  @apply p-4 h-screen overflow-y-scroll overflow-x-hidden transition-all relative;
}

.nav_light {
  /* @apply; */
}

.nav_dark {
  @apply text-white bg-white;
}
.button_collapse {
  @apply rounded-lg inline-flex items-center p-1 ml-3 text-sm text-gray-500  hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600;
}
.sidebar {
  @apply bg-orange-600 relative;
}
.sidebar_side {
  @apply fixed top-0 left-0 z-40 w-64 h-screen transition-transform px-3 py-4 overflow-y-auto shadow-xl;
}
.sidebar_dark {
  @apply bg-blue-700;
}

.link {
  @apply flex items-center p-2 rounded-lg my-6 uppercase text-sm font-normal;
}

.link_dark {
  @apply text-gray-900 bg-white;
}

.link_light {
  @apply text-gray-900 bg-gray-50;
}

.outlet {
  @apply p-4 border-2 rounded-lg bg-white h-full overflow-y-scroll;
  background-image: url('./Background\ pattern.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
